[submodule "realpath"]
	path = realpath
	url = git@github.com:yakamon/realpath
[submodule "bar"]
	path = bar
	url = git@github.com:yakamon/bar
[submodule "kanjinum"]
	path = kanjinum
	url = git@github.com:yakamon/kanjinum
[submodule "continuous_timer"]
	path = continuous_timer
	url = git@github.com:yakamon/continuous_timer
[submodule "pwgen"]
	path = pwgen
	url = git@github.com:yakamon/pwgen
[submodule "argparser"]
	path = argparser
	url = git@github.com:yakamon/argparser
